@media screen and (min-width: 600px) and (max-width: 768px) {
    section {
        width: 50vw;
    }
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(70, 142, 236);
}

header {
    color: white;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: #D9E2E1;
    width: 500px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.616);
}

div#msg {
    background-color: #77A1A6 ;
    width: 200px;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 10px 0px 10px 0px;
    border: solid 2px black;
    text-align: center;
}

.imgs {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

footer {
    color: white;
    font-style: italic;
    text-align: center;

}