@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(70, 142, 236);
}

header {
    color: white;
    text-align: center;
}

section {
    margin: auto;
    background-color: #FEF9EF;
    width: 500px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.616);
}

footer {
    color: white;
    font-style: italic;
    text-align: center;

}